@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background: radial-gradient(circle, rgba(65,37,60,1) 17%, rgba(60,33,66,1) 45%, rgba(12,19,31,1) 74%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}
/*TITULO*/
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

ol {
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.1);
  margin: 0.75rem 0; 
  padding: 1.25rem; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

li:hover {
  background: rgba(255, 255, 255, 0.2);
}

/*BOTONES*/
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #6a5acd;
  color: #313131;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 25px !important;;
  transition: background 0.5s ease;
}

button:hover {
  background-color: #2e217f;
  color:#fff;
  transform: scale(1.05); /* Escala el botón al pasar el cursor MUYY BUENO */
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(106, 90, 205, 0.5); 
}
/*TEXTO DE VIEW GITHUB*/
.text-href{
  color: #1b1b1b;
  transition: color 0.3s ease; 
}

.text-href:hover{
  text-decoration:underline;
  color:#a9a8ab;
 
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  li {
    padding: 0.75rem;
  }

  button {
    padding: 0.5rem 0.75rem;
  }
}
